/*
 * http://soliton.vm.bytemark.co.uk/pub/cpt-city/tp/tn/tpushuf.png.index.html
 * Author: Tom Patterson, 2011
 * Public Domain
 */

* {
  raster-channels: auto;
  raster-opacity: 0.5;
  raster-composite: multiply;
  raster-color-map:
		color-map-entry(#8e9891, -200, 1.0)
		color-map-entry(#96a198, 0, 1.0)
		color-map-entry(#9dada3, 200, 1.0)
		color-map-entry(#a4b5aa, 400, 1.0)
		color-map-entry(#a9bbae, 600, 1.0)
		color-map-entry(#aec0b3, 800, 1.0)
		color-map-entry(#b3c5b8, 1000, 1.0)
		color-map-entry(#b8cbbe, 1200, 1.0)
		color-map-entry(#bccfc2, 1400, 1.0)
		color-map-entry(#bed1c2, 1600, 1.0)
		color-map-entry(#c1d1c3, 1800, 1.0)
		color-map-entry(#c4d2c4, 2000, 1.0)
		color-map-entry(#c6d2c3, 2200, 1.0)
		color-map-entry(#c8d4c4, 2400, 1.0)
		color-map-entry(#ccd5c5, 2600, 1.0)
		color-map-entry(#d0d5c5, 2800, 1.0)
		color-map-entry(#d3d7c5, 3000, 1.0)
		color-map-entry(#d7d7c5, 3200, 1.0)
		color-map-entry(#dad7c4, 3400, 1.0)
		color-map-entry(#ddd7c3, 3600, 1.0)
		color-map-entry(#dfd5c3, 3800, 1.0)
		color-map-entry(#e0d4c2, 4000, 1.0)
		color-map-entry(#dfd3c2, 4200, 1.0)
		color-map-entry(#ded2c0, 4400, 1.0)
		color-map-entry(#e0cfbd, 4600, 1.0)
		color-map-entry(#dfccbc, 4800, 1.0)
		color-map-entry(#dfcaba, 5000, 1.0)
		color-map-entry(#dec8b8, 5200, 1.0)
		color-map-entry(#dec5b7, 5400, 1.0)
		color-map-entry(#dec4b6, 5600, 1.0)
		color-map-entry(#ddc3b5, 5800, 1.0)
		color-map-entry(#dcc2b4, 6000, 1.0)
		color-map-entry(#dcc2b4, 6200, 1.0)
		color-map-entry(#dac4b5, 6400, 1.0)
		color-map-entry(#dbc5b7, 6600, 1.0)
		color-map-entry(#dcc6ba, 6800, 1.0)
		color-map-entry(#dbc6bb, 7000, 1.0)
		color-map-entry(#dbc8bd, 7200, 1.0)
		color-map-entry(#dbcac1, 7400, 1.0)
		color-map-entry(#dacbc2, 7600, 1.0)
		color-map-entry(#d9cdc4, 7800, 1.0)
		color-map-entry(#dacec5, 8000, 1.0)
		color-map-entry(#dbcfc6, 8200, 1.0)
		color-map-entry(#dbcfc6, 8400, 1.0)
		color-map-entry(#dbcfc7, 8600, 1.0)
		color-map-entry(#dbcfc8, 8800, 1.0)
		color-map-entry(#dad0c9, 9000, 1.0)
		color-map-entry(#dad0ca, 9200, 1.0)
		color-map-entry(#dad0ca, 9400, 1.0)
		color-map-entry(#dad0ca, 9600, 1.0)
		color-map-entry(#dad0ca, 9800, 1.0)
		color-map-entry(#dad0ca, 10000, 1.0)
		color-map-entry(#d9cfca, 10200, 1.0)
		color-map-entry(#d9cecb, 10400, 1.0)
		color-map-entry(#d8cecb, 10600, 1.0)
		color-map-entry(#d7d0cc, 10800, 1.0)
		color-map-entry(#d8d1cd, 11000, 1.0)
		color-map-entry(#d7d2ce, 11200, 1.0)
		color-map-entry(#d8d2cf, 11400, 1.0)
		color-map-entry(#d9d3d2, 11600, 1.0)
		color-map-entry(#d9d5d3, 11800, 1.0)
		color-map-entry(#d8d7d5, 12000, 1.0)
		color-map-entry(#dad9d7, 12200, 1.0)
		color-map-entry(#dbdad8, 12400, 1.0)
		color-map-entry(#dbdbdb, 12600, 1.0)
		color-map-entry(#dddcda, 12800, 1.0)
		color-map-entry(#dfdedc, 13000, 1.0)
		color-map-entry(#e1dfdf, 13200, 1.0)
		color-map-entry(#e2e0e0, 13400, 1.0)
		color-map-entry(#e3e2e2, 13600, 1.0)
		color-map-entry(#e4e3e3, 13800, 1.0)
		color-map-entry(#e5e5e5, 14000, 1.0)
		color-map-entry(#e6e6e6, 14200, 1.0);
}

